/* Search */
.data-search {
    margin-bottom: 20px;
}

/* Table */
.data-table {
    border-collapse: collapse;
    color: var(--white);
    text-align: center;
    width: 100%;
}

/* Head */
.data-table-head {
    background-color: var(--full-white);
    color: var(--cyan);
    font-size: 20px;
}

/* Sort */
.data-table-sort {
    border-right: 3px solid var(--white);
    padding: 50px 5px;
    text-align: -webkit-center;
    text-transform: uppercase;
}
.data-table-sort:last-of-type {
    border-right: unset;
}

.data-table-sort-arrow {
    font-size: 25px;
    transition: 0.5s;
    vertical-align: middle;
}
.data-table-sort-arrow:hover {
    color: var(--black);
    cursor: pointer;
}

/* Body */
.data-table-body {}

.data-table-body-value {
    padding: 30px 5px;
    text-transform: uppercase;
    transition: 0.5s;
}
.data-table-body-value:hover {
    background-color: var(--light-green);
    color: var(--black);
    cursor: pointer;
}

/* Row */
.data-table-row {}

.data-table-body > .data-table-row:nth-child(odd) {
    background-color: var(--transparent-grey);
}
.data-table-body > .data-table-row:nth-child(even) {
    background-color: var(--transparent-white);
}