/* Fonts */
/* Open Sans Regular - Latin */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype"),
}