/* Variables */
:root {
    /* Black */
    --black: #1B1919;

    /* Cyan */
    --cyan: #00ADB5;

    /* Green */
    --light-green: #83DA83;
    --green: #48a348;

    /* Grey */
    --transparent-grey: #68686880;

    /* Red */
    --light-red: #da8383;
    
    /* White */
    --transparent-white: #EEEEEE80;
    --white: #EEEEEE;
    --full-white: #FFFFFF;
}