/* Main */
main {
    background-color: var(--black);
    min-height: calc(100vh - 158px);
    padding: 0 100px 20px 100px;
}

/** Responsive **/
@media screen and (max-width: 1400px) {
    /* Main */
    main {
        padding: 0 15px 20px 15px;
    }
}